html, body{
    height: 100%;
}

body{
    background-color: black;
}

div{
    z-index: 0;
}

p{
    font-family: "Times New Roman", Times, serif;
    color: #ec625f;
    opacity: 0.7;
    margin-bottom: 0;
    font-size:1.3vw;
}

h2{
    position: absolute;
    padding-left: 5%;
}

